@{
    ViewData["Title"] = "Student Information";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <p>First Name: John Michael</p>
    <p>Last Name: Teñoso</p>
    <p>Address: Southville 3 Poblacion Muntinlupa</p>
    <p>School: Lyceum of Alabang</p>
    <p>Year & Section: BSCS31E1</p>
    <p>CP No. 09XXXXXXXXX</p>
    </div>